

html:root,
html:root > body {
	margin : 0;
	padding : 0;
}


.pckb--main-wrapper,
.pckb--main-wrapper * {
	display : block;
	align-items : stretch;
	align-content : stretch;
	justify-items : stretch;
	justify-content : stretch;
	flex-wrap : nowrap;
	flex-basis : auto;
	flex-grow : 1;
	flex-shrink : 1;
	box-sizing : border-box;
	left : 0;
	right : 0;
	top : 0;
	bottom : 0;
	margin : 0;
	padding : 0;
	color : inherit;
	background : transparent;
	font-family : inherit;
	font-size : inherit;
	line-height : inherit;
}


.pckb--main-wrapper {
	font-family : "JetBrains Mono NL", "JetBrains Mono", "Fira Mono", monospace;
	font-size : 16px;
	line-height : 24px;
}
.pckb--main-wrapper {
	overflow : auto;
}


.pckb--main-content {
	display : flex;
	flex-direction : column;
	margin-left : auto;
	margin-right : auto;
}
.pckb--knobs {
	display : flex;
	flex-direction : column;
}
.pckb--key-bits,
.pckb--crc-bits,
.pckb--outputs {
	display : flex;
	flex-direction : column;
}
.pckb--buttons,
.pckb--paste-wrapper {
	display : flex;
	flex-direction : row;
}
.pckb--bits-wrapper {
	display : flex;
	flex-direction : row;
	flex-wrap : wrap;
}
.pckb--word-bits {
	display : flex;
	flex-direction : column;
}
.pckb--word-bits-row {
	display : flex;
	flex-direction : row;
}
.pckb--output-pair {
	display : flex;
	flex-direction : row;
	flex-wrap : wrap;
}


.pckb--key-bits .pckb--bits-wrapper,
.pckb--crc-bits .pckb--bits-wrapper {
	border : solid 1px;
}
.pckb--word-bits {
	margin : 1ex;
}
.pckb--bit-wrapper {
	border : solid 1px;
	margin : 0.5ex;
}
.pckb--bit-checkbox {
	width : 2ex;
	height : 2ex;
	border : none;
	flex-grow : 0;
	flex-shrink : 0;
}


.pckb--output-label,
.pckb--output-field,
.pckb--button {
	height : 2em;
}
.pckb--output-field,
.pckb--button,
.pckb--paste-field {
	border : solid 1px;
	padding-left : 0.5ch;
	padding-right : 0.5ch;
}
.pckb--paste-field {
	/*
	font-size : 0.5em;
	line-height : 1.25em;
	*/
	padding : 1ch;
	resize : none;
}


.pckb--word-label,
.pckb--output-label,
.pckb--output-field,
.pckb--paste-field {
	text-align: center;
	text-wrap : nowrap;
	text-overflow : ellipsis;
}
.pckb--stencil-link {
	text-align : center;
}
.pckb--main-title {
	text-align : center;
}


.pckb--main-content {
	max-width : 70ch;
	align-items : stretch;
}
.pckb--bits-wrapper {
	justify-content : space-around;
}
.pckb--word-bits {
	flex-grow : 0;
}
.pckb--buttons {
	justify-content : space-around;
}
.pckb--button {
	width : 20ch;
	flex-grow : 0;
}
.pckb--output-label {
	width : 10ch;
	flex-grow : 0;
}
.pckb--output-field,
.pckb--paste-field {
	min-width : 30ch;
}
.pckb--cr80 {
	align-self : center;
}


.pckb--text {
	margin : 1em;
}
.pckb--knobs > * {
	margin : 1em;
}
.pckb--outputs > * {
	margin-top : 0.5em;
	margin-bottom : 0.5em;
}

.pckb--knobs-disabled {
	display : none;
}


