

html:root,
html:root > body {
	margin : 0px;
	padding : 0px;
}


.pckb--bits-main,
.pckb--bits-main * {
	display : block;
	align-items : center;
	align-content : center;
	justify-content : center;
	flex-wrap : nowrap;
	flex-basis : auto;
	flex-grow : 1;
	flex-shrink : 1;
	box-sizing : border-box;
	left : 0px;
	right : 0px;
	top : 0px;
	bottom : 0px;
	margin : 0px;
	padding : 0px;
	color : inherit;
	background : transparent;
	font-family : inherit;
	font-size : inherit;
	line-height : inherit;
}


.pckb--bits-main {
	font-family : "JetBrains Mono NL", "JetBrains Mono", "Fira Mono", "Fira Sans", "Verdana", "Trebuchet MS", sans-serif;
	font-size : 16px;
	line-height : 24px;
}

.pckb--bits-main {
	overflow : auto;
}

.pckb--bits-main {
	display : flex;
	flex-direction : column;
}
.pckb--bits-main-content {
	display : flex;
	flex-direction : column;
}
.pckb--key-bits,
.pckb--crc-bits,
.pckb--outputs {
	display : flex;
	flex-direction : column;
}
.pckb--buttons {
	display : flex;
	flex-direction : row;
}
.pckb--bits-wrapper {
	display : flex;
	flex-direction : row;
	flex-wrap : wrap;
}
.pckb--word-bits {
	display : flex;
	flex-direction : column;
}
.pckb--word-bits-row {
	display : flex;
	flex-direction : row;
}
.pckb--bit-wrapper {
	display : flex;
	flex-direction : row;
}
.pckb--output-pair {
	display : flex;
	flex-direction : row;
	flex-wrap : wrap;
}

.pckb--key-bits .pckb--bits-wrapper,
.pckb--crc-bits .pckb--bits-wrapper {
	border : solid 1px;
}
.pckb--word-bits {
	margin : 0.5ex;
}
.pckb--bit-wrapper {
	border : solid 1px;
	margin : 0.5ex;
}
.pckb--bit-checkbox {
	width : 2ex;
	height : 2ex;
	border : none;
}

.pckb--output-label,
.pckb--output-field,
.pckb--button {
	height : 1.1lh;
	margin : 0.5ex;
}
.pckb--output-field,
.pckb--button {
	border : solid 1px;
	padding-left : 0.5ch;
	padding-right : 0.5ch;
}


.pckb--bits-main-content > * {
	margin : 0.5ex;
}
.pckb--bits-main {
	max-width : 100vw;
}
.pckb--bits-main-content > * {
	width : 100%;
	width : -moz-available;
	max-width : 95vw;
}
.pckb--output-pair {
	width : 100%;
	width : -moz-available;
	max-width : 95vw;
}
.pckb--output-field {
	text-align: center;
	min-width : 10ch;
	max-width : 42ch;
	flex-grow : 1;
	flex-shrink : 1;
}
.pckb--output-label {
	text-align: center;
	min-width : 8ch;
	flex-grow : 0;
	flex-shrink : 0;
}
.pckb--bits-main-content > h2 {
	text-align : center;
}


